window {
  background: rgba(30, 30, 46, 0.9); 
	border-radius: 10px;
	border-style: solid;
	border-width: 2px;
	border-color: rgba(224, 114, 255, 0.5);
}

#box {
  /* Define attributes of the box surrounding icons here */
  padding: 15px
}

#active {
	/* This is to underline the button representing the currently active window */
	border-bottom: solid 3px;
	border-color: rgba(197, 237, 253, 0.9);
}

button, image {
	background: none;
	border-style: none;
	box-shadow: none;
	color: rgba(224, 114, 255, 0.5);
}

button {
	padding: 4px;
	margin-left: 4px;
	margin-right: 4px;
	color: #eee;
  font-size: 12px
}

button:hover {
	background-color: rgba(211, 181, 248, 0.9);
	border-radius: 2px;
}

button:focus {
	box-shadow: none
}
